.vscode
*.DS_store
/examples/receiver
/examples/sender
/rpi-telemetry/build
/rpi-telemetry/xbuild
/rpi-telemetry/install/*
!/install/.gitkeep
/rpi-telemetry/src/version.h
/docs
/rpi-telemetry/*.json
*.dat
